@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

body {

    margin: 0;
   background-color: rgb(163, 168, 109, 25%);
   scroll-behavior: smooth;
  }

header {
display: flex;
flex-direction: row;
}

li {
    display: flex;
    flex-direction: row;
   justify-content: flex-end;
    height: 5vw;
    margin-left: 70vw;
  }


.navButtons {
    margin: 2vw;
    font-size: 1.7vw;
    padding: 1vw 0vw 1vw 0vw;
    display: inline-block;
    text-decoration: none;
    color: black;
    font-family: 'Ubuntu', sans-serif;;
    font-size: 1.2vw;
    font-weight: 500;
  }

  #buttons {
    background-color:rgb(163, 168, 109);
    height: 3vw;
    border: 0.2vw black solid;
  }

  #logo {
    position: absolute;
    width: 10vw;
    height: 10vw;
    margin-left: 4vw;
}

#organic {
    position: absolute;
    width: 50vw;
    height: 40vw;
    z-index: -1;
    margin-left: 25vw;
    margin-top: -2vw;

  }

/*TEXT*/

p {
    font-size: 1.5vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color:black;
}

h1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.8vw;
  font-weight: 500;
}

 h2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.8vw;
  font-weight: 500;
 }

 #typewrite {
  overflow: hidden; 
  white-space: nowrap;  
  animation: type 2s steps(3) 1s 1 normal both;
animation-delay: 5s;
opacity: 0;
}

 #type2 {
  overflow: hidden; 
  white-space: nowrap; 
  animation: type 2s steps(18) 1s 1 normal both;
animation-delay: 6s;
opacity: 0;
 }
 
 #type3 {
  overflow: hidden; 
  white-space: nowrap; 
  animation: type 3s steps(27) 1s 1 normal both;
  animation-delay: 8s;
  opacity: 0;
  margin-left: 5vw;
 }

 #type4 {
  overflow: hidden; 
  white-space: nowrap; 
  animation: type 3s steps(27) 1s 1 normal both;
  animation-delay: 9s;
  opacity: 0;
  margin-top: -0.8vw;
 }

 
 /*Text Animation*/
 @keyframes type{
  from{width: 0;
opacity: 50%;  }
  to{width: 24em;
  opacity: 100%;}
}


 /*HERO SPACE CONTENT*/

 #contenthero {
  width: 100vw;
  height: 60vw;
}

#initext {
  position: absolute;
  text-align: center;
  width: 30vw;
  margin-top: 8vw;
  margin-left: 6vw;
}

#initext2 {
  position: absolute;
  text-align: left;
  width: 30vw;
  margin-top: -20vw;
  margin-left: 65vw;
}

#avholder {
  width: 55vw;
  margin-left: 25vw;
}
#circle {
  position: absolute;
  z-index: 10;
  height: 20vw;
  width: 20vw;
}

#svg {
  z-index: 20;
}

/*About ME*/

#about {
  position: absolute;
  width: 100%;
  height: 58vw;
  margin-top: 5vw;
  background-image: url(./images/bkgsection1.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.photo {
  position: relative;
  height: 15vw;
  width: 100%;
  margin-top: 15vw;
  display: grid;
  grid-template-columns: 1fr 1fr;

}

.photo1 {
position: absolute;
height: 20vw;
width: 30vw;
z-index: -1;
margin-top: 2vw;
margin-left: -30vw;
/* animation: slidein 1.5s linear forwards; */
}

.photo2 {
  position: absolute;
  height: 25vw;
  width: 17vw;
  z-index: -1;
  margin-left: -20vw;
  /* animation: slidein2 1.5s linear forwards;
  animation-delay: 1s; */
}

#shortbio {
  text-align: center;
  width: 35vw;
  margin-left: 6vw;
}

/*WORK */

#work {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 58vw;
  margin-top: 50vw;
  background-image: url(./images/bkgsection2.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

#info {
position: relative;
width: 60%;
left: 7vw;
top: 8vw;
}


#design {
  position: relative;
  text-align: center;
  height: 25vw;
  width: 60%;
  top: 7vw;
  display: flex;
  flex-direction: column;
}

#container {
  position: relative;
   display: grid;
  grid-template-columns: 1fr 1fr;
   width: 40%;
   height: 20vw;
   top: -14.5vw;
   margin-left: 45vw;
 }

 #container h1 {
   font-size: 1.4vw;
   margin-left: 2vw;
 }

 #container p {
  font-size: 1.3vw;
  margin-left: 2vw;
  margin-top: -1vw;
}


/* HOOVER */

.extra :hover {
transform: scale(1.1);
}

/* Open Buttons */

.styleBtn {
  color: aliceblue;
  background-color: #738054;
  border-radius: 2vw;
  border: 0.3vw #738054 solid;
  width: 9vw;
  align-self: center;
  box-shadow:  0 5px 5px black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.6vw;
  text-align: baseline;
  margin-left: 2vw;
}

.clsBTN {
  color: black;
  background-color: #738054;
  border-radius: 2vw;
  border: 0.3vw #738054 solid;
  width: 2.5vw;
  height: 2.5vw;
  align-self: center;
  font-size: 1vw;
  text-align: baseline;
  margin-left: -0.1vw;
}

/*CONTENT PROJECTS*/

.game {
  position: relative;
  width: 22vw;
  height: 17vw;
}

.source {
position: relative;
width: 22vw;
height: 17vw;
}

.dien {
position: relative;
width: 22vw;
height: 17vw;
}

.formula1 {
position: relative;
width: 22vw;
height: 17vw;
}

/* Preview */
 .intro1 {
   position: relative;
   display: flex;
   flex-direction: column;
   height: 15vw;
 }


 .intro2 {
  position: relative;
   display: flex;
   flex-direction: column;
   height: 15vw;
}

.intro3 {
  position: relative;
   display: flex;
   flex-direction: column;
   height: 15vw;
   top: 3vw;
}

.intro4 {
  position: relative;
   display: flex;
   flex-direction: column;
   height: 15vw;
   top: 3vw;
}

/*CONTACT*/

#contact {
  position:absolute;
  margin-top: 95vw;
  width: 100vw;
  height: 25vw;
  display: flex;
flex-direction: column;
}

#text {
  width: 42vw;
  align-items: center;
  text-align: center;
  margin-left: 30vw;
}

#social {
  display: flex;
  flex-direction: row;
  width: 40vw;
  align-items: center;
  margin-left: 39vw;
}

img {
margin-left: 2vw;
}

#linked {

  height: 3vw;
  width: 3vw;
}

#git {
  
  height: 3vw;
  width: 3vw;

}

#insta {
 
  height: 3vw;
  width: 3vw;
}

#behance {
 
  height: 3vw;
  width: 3vw;
}

/*Footer*/

footer {
  position: absolute;
  background-color: #E1D5B8;
  margin-top: 130vw;
  height: 5vw;
  text-align: center;
  width: 100%;
}

/*SVG ICONS*/

.photoicon {
  position: absolute;
  height: 10vw;
  width: 10vw;
background-image: url(./images/camera-01.svg);
background-size: contain;
background-repeat: no-repeat;
margin-top: -40vw;
margin-left: 10vw;
animation: scale 1.5s ease-in;
animation-fill-mode: forwards;
opacity: 0;
}

.designicon {
  position: absolute;
  height: 10vw;
  width: 10vw;
background-image: url(./images/tablet-01.svg);
background-size: contain;
background-repeat: no-repeat;
margin-top: -25vw;
margin-left: 3vw;
animation: scale 1.5s ease-in;
animation-fill-mode: forwards;
animation-delay: 2s;
opacity: 0;
}

.codeicon {
  position: absolute;
  height: 9vw;
  width: 9vw;
background-image: url(./images/code-01.svg);
background-size: contain;
background-repeat: no-repeat;
margin-top: -35vw;
margin-left: 38vw;
animation: scale 1.5s ease-in;
animation-fill-mode: forwards;
animation-delay: 3s;
opacity: 0;
}

.swiss {
  position: absolute;
  height: 5vw;
  width: 5vw;
background-image: url(./images/knife-01.svg);
background-size: contain;
background-repeat: no-repeat;
margin-top: -16.2vw;
margin-left: 24vw;
animation: rotate 4.5s infinite ease-in;
}

.lid {
  position: absolute;
  height: 3.5vw;
  width: 3.5vw;
background-image: url(./images/eyelid-01.svg);
background-size: contain;
background-repeat: no-repeat;
margin-top: -29.6vw;
margin-left: 23vw;
opacity: 0;
animation: blinking 0.2s ease-out;
animation-delay: 5s;
}

/*ICONS ANIMATIONS*/

@keyframes scale {
  0%   {
    opacity: 0%;
    transform: scale(.0);}
  100% {
    opacity: 100%;
    transform: scale(1);}
}

@keyframes rotate {
  0% { 
    transform: rotate(0deg); 
} 
100% { 
    transform: rotate(359deg); 
}

}

@keyframes blinking {
  0%   {
    opacity: 20%;
    transform: translateY(-0.2vw);
  }
  100% {
    opacity: 100%;
    transform: translateY(0vw);
}
}

@keyframes slidein {
  0% { 
    transform: translateX(-30vw); 
} 
100% { 
    transform: translateX(30vw); 
}
}

@keyframes slidein2 {
  0% { 
    transform: translateX(-20vw); 
} 
100% { 
    transform: translateX(30vw); 
}
}
/*SVG CLASSES*/

.lefta {
  animation: moveleft 1.5s infinite ease-in;
  animation-delay: 6s;
}

.righta {
  animation: moveright 1.5s infinite ease-in;
  animation-delay: 6s;
}

.irisl {
  animation: slideleft 2.5s  infinite ease-in-out;
  animation-delay: 6s;
}

.irisr {
  animation: slideright 2.5s infinite ease-in-out;
  animation-delay: 6s;
}

.circle1 {
  position: absolute;
  animation: rotate2 20s infinite ease-in-out;

}

.circle2 {
position: absolute;
  animation: rotate3 35s infinite ease-in-out;

}

.circle3 {
  animation: rotate2 30s infinite ease-in-out;
 
  }

/*SVG ANIMATIONS*/
@keyframes moveleft {
  0% { 
    transform: rotate(0deg); 
} 
100% { 
    transform: rotate(0.5deg); 
}
}

@keyframes moveright {
  0% { 
    transform: rotate(0.4deg); 
} 
100% { 
    transform: rotate(0deg); 
}
}

@keyframes slideleft {
  0% { 
    transform: translateX(-0.1vw); 
} 
100% { 
    transform: translateX(0.1vw); 
}
}

@keyframes slideright {
  0% { 
    transform: translateX(-0.1vw); 
} 
100% { 
    transform: translateX(0.1vw); 
}
}


@keyframes rotate2 {
  0% { 
    transform: rotate(0deg); 
} 
100% { 
    transform: rotate(359deg); 
}

}

@keyframes rotate3 {
  0% { 
    transform: rotate(359deg); 
} 
100% { 
    transform: rotate(0deg); 
}

}

  /*WAVES ANIMATION*/

  .waves {
    position: absolute;
    width: 100%;
    height:19vh;
    margin-bottom:-1.5vw;
    margin-top: 121vw;
    min-height:7vw;
    max-height:10vw;
  }
  
  
  /* Animation */
  
  .parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }

  @keyframes move-forever {
    0% {
     transform: translate3d(-90px,0,0);
    }
    100% { 
      transform: translate3d(85px,0,0);
    }
  }

  /*Shrinking for mobile*/
  @media (max-width: 768px) {
    .waves {
      height:40px;
      min-height:40px;
    }
    .content {
      height:30vh;
    }
    h1 {
      font-size:24px;
    }
  }