@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;300;500&display=swap');

body {

    margin: 0;
    background-color: rgb(163, 168, 109, 25%);
    background-image: url(./images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Racing Sans One", cursive;
    overflow-x: hidden;
  }

header {
display: flex;
flex-direction: row;
}

li {
    display: flex;
    flex-direction: row;
   justify-content: flex-end;
    height: 5vw;
    margin-left: 70vw;
  }


.navButtons {
    margin: 2vw;
    font-size: 1.7vw;
    padding: 1vw 0vw 1vw 0vw;
    display: inline-block;
    text-decoration: none;
    color: black;
    font-family: 'Ubuntu', sans-serif;;
    font-size: 1.2vw;
    font-weight: 500;
  }


  #logo {
    position: absolute;
    width: 10vw;
    height: 10vw;
    margin-left: 3vw;
}


/*TEXT*/

p {
    font-size: 1vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color:black;
    margin-top: -1vw;
}

h1 {
  font-family: 'Ubuntu', sans-serif;;
  font-size: 1.5vw;
  font-weight: 600;
  color: rgb(22, 22, 22);
}

 h2 {
  font-family: 'Ubuntu', sans-serif;;
  font-size: 1.5vw;
  font-weight: 500;
 }

 /* CONTAINER */

 #container {
  position: absolute;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 100vw;
   height: 20vw;
   margin-top: -6vw;
 }

 #map {
   position: absolute;
   z-index: -1;
 }

 .mapp{
  position: relative;
  z-index: -1;
  top: -40vw;
  left: 5vw;
  height: 47vw;
  width: 89vw;
}

/* BACKGROUNDS */

.bkg1 {
  position: absolute;
  height: 20vw;
  width: 22vw;
  z-index: -1;
  margin-left: 2vw;
  margin-top: -6vw;
}

.bkg2 {
  position: absolute;
  height: 20vw;
  width: 22vw;
  z-index: -1;
  margin-left: -6vw;
  margin-top: 6.5vw;
}

.bkg3 {
  position: absolute;
  height: 20vw;
  width: 22vw;
  z-index: -1;
  margin-left: -4.5vw;
  margin-top: 8vw;
}

.bkg4 {
  position: absolute;
  height: 20vw;
  width: 22vw;
  z-index: -1;
  margin-top: -6vw;
  margin-left: -16vw;
}


/* MODALS */

#modal1 {
  display: none;
position: fixed;
z-index: 2;
left: 0;
top: 0;
height: 100%;
width: 100%;
background-color: rgba(211, 211, 211, 0.472);
}

.content1 {
  overflow-y: scroll;
  position: relative;
left: 19vw;
top: 5vw;
height: 40vw;
width: 60vw;
background-color: rgb(51, 66, 50);
border-radius: 0.4vw;
box-shadow:  0 5px 8px black;
color: beige;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
text-align: center;
}

#close {
  position: absolute;
  padding: 0.5vw;
  margin-left: -28vw;
  margin-top: 1vw;
  border-radius: 25vw;
}


/* INFO */

#info {
    width: 100vw;
    text-align: center;
}

#info h2{
 width: 35vw;
 margin-top: -26vw;
 margin-left: 34vw;
}

/*CONTENT PROJECTS*/

.game {
    position: relative;
    width: 50vw;
    height: 38vw;
    top: 0vw;
    left: 16.5vw;
}

.source {
  position: relative;
    width: 30vw;
    height: 20vw;
    top: -4vw;
    left: -9vw;
}

.dien {
  position: relative;
  width: 35vw;
  height: 23vw;
  top: -26vw;
  left: -2vw;
}

.formula1 {
  position: relative;
    width: 32vw;
    height: 22vw;
    top: -23vw;
    left: -25vw;
}


/* OVEREVIEW */

.intro1 {
  position: relative;
  width: 15vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  top: -0.1vw;
  left: 5.6vw;

}

.intro2 {
  position: relative;
  width: 10vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  top: 12.5vw;
  left: 0.3vw;
}

.intro3 {
  position: relative;
  width: 10vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  top: 12.2vw;
  left: 1vw;
}

.intro4 {
  position: relative;
  width: 10vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  top: -1.2vw;
  left: -10vw;
}

.openM {
  background-color: beige;
  border-radius: 2vw;
  border: 0.3vw beige solid;
  width: 7vw;
  align-self: center;
  box-shadow:  0 5px 5px black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.6vw;
  text-align: baseline;
}

/* FLOAT */

.float {
  animation: float 5s ease-out infinite;
    animation-duration: 5s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
  
}

  /*ANIMATIONS*/
 @keyframes float {
  0% {
    transform: translateY(0.5vw);
}
50% {
    transform: translateY(0vw);
}
100% {
    transform: translateY(0.5vw);
}
 }


  @keyframes rotate2 {
    0% { 
      transform: rotate(0deg); 
  } 
  100% { 
      transform: rotate(359deg); 
  }
}

@keyframes rotate {
    0% { 
      transform: rotate(359deg); 
  } 
  100% { 
      transform: rotate(0deg); 
  }
  
  }
  /*Footer*/

footer {
    position: absolute;
    background-color: #E1D5B8;
    margin-top: 60vw;
    height: 5vw;
    text-align: center;
    width: 100%;
  }
  
    /*WAVES ANIMATION*/

    .waves {
        position: absolute;
        width: 100%;
        height:20vh;
        margin-bottom:-1.5vw;
        margin-top: 50vw;
        min-height:7vw;
        max-height:12vw;
      }
      
      
      /* Animation */
      
      .parallax > use {
        animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
      }
      .parallax > use:nth-child(1) {
        animation-delay: -2s;
        animation-duration: 7s;
      }
      .parallax > use:nth-child(2) {
        animation-delay: -3s;
        animation-duration: 10s;
      }
      .parallax > use:nth-child(3) {
        animation-delay: -4s;
        animation-duration: 13s;
      }
      .parallax > use:nth-child(4) {
        animation-delay: -5s;
        animation-duration: 20s;
      }
      @keyframes move-forever {
        0% {
         transform: translate3d(-90px,0,0);
        }
        100% { 
          transform: translate3d(85px,0,0);
        }
      }
      /*Shrinking for mobile*/
      @media (max-width: 768px) {
        .waves {
          height:40px;
          min-height:40px;
        }
        .content {
          height:30vh;
        }
        h1 {
          font-size:24px;
        }
      }