@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300&display=swap');

/* MODALS */

.modal1 {
  display: none;
position: fixed;
scroll-behavior: smooth;
z-index: 2;
left: 0;
top: 0;
height: 100%;
width: 100%;
background-color: rgb(163, 168, 109, 25%);
}

.modal2 {
  display: none;
position: fixed;
scroll-behavior: smooth;
z-index: 2;
left: 0;
top: 0;
height: 100%;
width: 100%;
background-color: rgb(163, 168, 109, 25%);
}

.modal3 {
  display: none;
  position: fixed;
z-index: 2;
left: 0;
top: 0;
height: 100%;
width: 100%;
background-color: rgba(211, 211, 211, 0.472);
}

.modal4 {
  display: none;
  position: fixed;
  scroll-behavior: smooth;
  z-index: 2;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(163, 168, 109, 25%);
}

.styleCONT {
overflow-y: hidden;
position: absolute;
overflow-y: scroll;
padding-top: 1vw;
padding-left: 1.5vw;
padding-right: 2.5vw;
left: 20vw;
height: 100%;
width: 60vw;
background-color: white;
border-radius: 0.4vw;
box-shadow:  0 5px 8px black;
color: beige;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* CONTENT MODALS */
.content1 {
  position: absolute;
}

.styleTile1 {
  position: relative;
  height: 60vw;
  width: 55vw;
  left: 2vw;
}

.styleTile2 {
  position: relative;
  height: 75vw;
  width: 55vw;
  left: 1vw;
}

.styleTile3 {
  position: relative;
  height: 170vw;
  width: 55vw;
}


.content2 {
  position: absolute;

}

#comparison {
  position: relative;
  height: 18.5vw;
  width: 20vw;
  display: flex;
  flex-direction: row;
}

#comparison img {
  margin-left: 0.5vw;
}

.stories {
  width: 56vw;
  height: 30vw;
  position: relative;
}

