@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;300;500&display=swap');


/* BACKGROUNDS */

/* .bkg1 {
  position: absolute;
  height: 20vw;
  width: 22vw;
  z-index: -1;
  margin-left: 2vw;
  margin-top: -6vw;
}

.bkg2 {
  position: absolute;
  height: 20vw;
  width: 22vw;
  z-index: -1;
  margin-left: -6vw;
  margin-top: 6.5vw;
}

.bkg3 {
  position: absolute;
  height: 20vw;
  width: 22vw;
  z-index: -1;
  margin-left: -4.5vw;
  margin-top: 8vw;
}

.bkg4 {
  position: absolute;
  height: 20vw;
  width: 22vw;
  z-index: -1;
  margin-top: -6vw;
  margin-left: -16vw;
} */


/* MODALS */

/* .hide {
  display: none;
} */

.modal1 {
  display: none;
position: fixed;
overflow-y: scroll;
scroll-behavior: smooth;
z-index: 2;
left: 0;
top: 0;
height: 100%;
width: 100%;
background-color: rgb(163, 168, 109, 25%);
}

.modal2 {
  display: none;
  position: fixed;
z-index: 2;
left: 0;
top: 0;
height: 100%;
width: 100%;
background-color: aliceblue;
}

.modal3 {
  display: none;
  position: fixed;
z-index: 2;
left: 0;
top: 0;
height: 100%;
width: 100%;
background-color: rgba(211, 211, 211, 0.472);
}

.modal4 {
  display: none;
  position: fixed;
z-index: 2;
left: 0;
top: 0;
height: 100%;
width: 100%;
background-color: rgba(211, 211, 211, 0.472);
}

.styleCONT {
overflow-y: hidden;
position: absolute;
padding-top: 1vw;
padding-left: 1.5vw;
padding-right: 2.5vw;
left: 20vw;
height: 100vw;
width: 60vw;
background-color: white;
border-radius: 0.4vw;
box-shadow:  0 5px 8px black;
color: beige;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* CONTENT MODALS */
.content1 {
  position: absolute;
}

.styleTile1 {
  position: relative;
  height: 60vw;
  width: 55vw;
  left: 2vw;
}


.content2 {
  position: absolute;
  color: aliceblue;
}

.content2 p {
  color: aliceblue;
}

#comparison {
  position: relative;
  height: 18.5vw;
  width: 20vw;
  display: flex;
  flex-direction: row;
}

#comparison img {
  margin-left: 0.5vw;
}

.stories {
  width: 56vw;
  height: 30vw;
  position: relative;
}

